.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.boardstyle {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  height: 640px;
  background-color: rgb(0 94 0);
}

.cellStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border: black solid 1px;
}

.stonestyle {
  width: 56px;
  height: 56px;
  background-color: white;
  border-radius: 100px;
}
